@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* border: 1px solid; */
}

.custom-font-heading {
    font-family: "Playfair Display", serif;
    font-style: italic;
}


.custom-font-size-6 {
    font-size: 6rem;
}

.custom-font-size-4 {
    font-size: 4rem;
}

.hero span {
    font-size: .8rem;
    
}






